<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qoj</key>
	<string>zy2jmvez</string>
	<key>ascfx</key>
	<string>79885514</string>
	<key>hiv</key>
	<string>gpprxwuonlqiv7fz</string>
	<key>mkpx</key>
	<string>zd3kj0gl9hzidil2</string>
	<key>sxlta</key>
	<string>launch_logo</string>
	<key>juacbn</key>
	<string>avatar_poster</string>
</dict>
</plist>
